<p><strong>Stops</strong></p>
<ul class="list-group">
  <% @travel.stops.each do |stop| %>
   <!-- Changement de content en city puisque content n'existe pas en db / Bien sûr vous mettez ce que vous voulez -->
    <li class="list-group-item"><%= stop.city %></li>
  <% end %>
</ul>
<br>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
