<div class="mapbox-container" style="width: 94%; height: 600px;"
  data-controller="mapglobe"
  data-mapglobe-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<br>
<div class="travel-card">
Coucou petite coquin, voici le nombre de voyages que tu as déjà faits : <%= @travel %>
</div>
