<div class="container">
  <h1>My pictures</h1>

  <% @picture.each do |picture| %>
    <% picture.photos.each do |photo| %>
      <div class="stop-picture-card">
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <%= picture.description %>
      </div>
    <% end %>
  <% end %>
</div>
