$primary: #ea6900e4;

.banner {
  justify-content: space-between;
  background: white;
  height: 60px;
}

.banner .banner-collapse {
  flex-grow: 0;
}

.banner .banner-brand img {
  width: 40px;
  opacity: .7;
}

.banner-bg {
  // background-image: url('https://cdn.prod.website-files.com/6376980d89260e9c2cdee566/64df81d6200a0e03c45e823a_famous-buildings-round-the-world-travel-wallpaper.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  clip-path: inset(0 0 20px 0);
  align-items: flex-start;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 15px;
  // filter: brightness(1.2);
}

.banner-title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2rem;
  margin: 0;
  padding: 8px 16px;
  border-radius: 6px;
  margin: 20px auto 0 auto;
}

.merienda-font {
  transform-origin: center;
  font-family: "Merienda", cursive;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 1px;
  background: linear-gradient(100deg, #fb8500 60%, #ffb703 90%, #fffbe6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    0 0 0.5px #f79b2b,
    0 1px 0 #fff,
    2px 2px 8px rgba(0,0,0,0.10),
    0 0 8px #ffb70380;

  filter: drop-shadow(0 6px 16px rgba(0,0,0,0.22));
  display: inline-block;
  padding: 0.2em 0.7em;
  border-radius: 2em;
  background-origin: border-box;

  transition:
    transform 0.22s cubic-bezier(.4,2,.6,1),
    filter 0.22s,
    box-shadow 0.22s;
  box-shadow: 0 2px 16px 0 rgba(251,133,0,0.09);
}
.merienda-font:hover {
  filter: drop-shadow(0 12px 24px rgba(251,133,0,0.18));
  cursor: pointer;
}
