$primary: #219dbce4;
$secondary: #fb8500;
$third: #FF5449;
$text: #ffffff;

.button {
  border-radius: 8px;
  background-color: #219ebc;
  border: none;
  color: white;
}

.btn-centerred {
  text-align: center;
}

.button-stop-card {
  border-radius: 8px;
  background-color: #219ebc;
  border: none;
  color: white;
  height: 26px;
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $text;
    transform: scale(1.1);
  }

  &:active {
    color: $secondary;
  }

  &:focus-visible {
    outline: 2px solid $secondary;
    outline-offset: 2px;
  }
}
