.image-container {
  position: relative;
  height: 300px; /* même que la hauteur de l'image */
}

/* Assure que les flèches se positionnent sur l'image uniquement */
.carousel-control-prev,
.carousel-control-next {
  top: 150px; /* moitié de 300px */
  transform: translateY(-50%);
  bottom: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
}

.delete-photo-btn {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: #219ebc;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  padding: 0;
  cursor: pointer;
}
