.mapbox-container {
  width: 60%;
  max-width: 700px;
  margin: 32px auto;
  max-height: 400px;
  border: 2px solid #fb8500;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  overflow: hidden;
  padding-left: 32px;
  padding-right: 32px;
}
