.mapbox-container {
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
  max-height: 450px;
  border: 2px solid #fb8500;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  overflow: hidden;
}
